<div class="sidebar__item">
    <div class="sidebar__form">
        <form action="/" class="form">
            
            <div class="form__content">
                <div class="form__title">
                        Подпишитесь на рассылку
                </div>
                <input type="text" name="mail" placeholder=" Укажите Ваш e-mail" class="m-field field-mail">
                <button class="m-button">подписаться </button>
            </div>
            <div class="thanx">
                <div class="form__title">
                    Спасибо что подписались на рассылку!
                </div>
                <div class="m-desc">
                        Менеджер свяжется с вами в ближайшее время.
                </div>
            </div>
        </form>
    </div>
</div>