html{
    min-height: 100vh;
}
body{
    font-family: 'raleway';
    overflow-x: hidden; 
    min-height: 100vh;
}

a{
    font-family: 'raleway';
}

*{
    outline: none;
    box-sizing: border-box;
}

.main{
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    &__left{
        width: 63.46%;
        display: flex;
        flex-direction: column;
    }
    &__right{
        width: 34.23%;
        display: flex;
        flex-direction: column;
    }
    &__container{
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
}
.m-img-cont{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img{
        display: none;  
    }
}

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-thumb { cursor: pointer; height: 50px; background-color: $dark; border-radius: 10px;}
.header{ 
    width: 100%;
    &__container{
        display: flex;
        width: 100%;
        flex-direction: column;
    }   
    &__top{
        height: 50px;
        position: fixed;
        background-color: rgba(255,255,255, 0.90);
        display: flex;
        z-index: 100;
        width: 100%;
        justify-content: space-between;
        .wrapper{
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    .nice-select{
        width: 77px;
        padding: 0;
        padding-left: 15px;
        height: 28px;
        display: flex;
        align-items: center;
        background-color: $light;
        border: 1px solid #b4bbc8;
        border-radius: 20px;
        font-size: 14px;
        font-family: "raleway";
        color: rgb(85, 85, 85);
        font-weight: bold;
        text-transform: uppercase;
        background-image: none;
        &:after{
            border-color: #214c99;
            top:50%;
            height: 6px;
            width: 6px;
            top: 42%;
            right: 10px;
            transform-origin: 66% 66%;
        }
        .list{
            width: 100%;
        }
        .option{
            box-sizing: border-box;
            padding: 0;
            padding-left: 15px;
            width: 100%;
            height: 10px;
        }
    }   
    &__info{
        margin-top: 50px;
        width: 100%;
        background-color: #f4f7fa;
        &.transparent{
            background-color: transparent;
        }
        &-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
        }
    }
    &__left{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.news-item{
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12.22px 0.78px rgba(119, 119, 119, 0.05);
}

.sidebar__item .m-title-2{
font-size: 18px;
margin-bottom: 7px;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        margin-right: 20px;
    }
    &:active{
        transform: translateY(1px)
    }
}

.menu{
    max-width: 1170px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link{
        color: #353535;
        text-decoration: none;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        margin-right: 5px;
        font-family: "raleway";
        &:before{
            content: '';
            transition: 0.3s;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #353535;
            transform: scale(0);
        }
        &:hover{
            &:before{
                transform: scale(1);
            }
        }
    }
}

.sign{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    svg{
        margin-right: 13px;
        transition: 0.2s
    }
    &-button{
        color: #525050;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }
    &:hover{
        svg{
            transform: scale(1.2);
        }
        .header__sign-button{   
        }
    }
}

.geo, .time{
    display: flex;
    align-items: center;    
    img{
        margin-right: 5px;
        transition: 0.3s;
    }
    &-text{
        font-family: 'gothic';
        color: #555555;
        font-size: 14px;
        font-weight: 700;   
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    
}



.phone{
    &-button{
        background-color: $blue;
        border-radius: 100px;
        padding: 10px 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 40px;
        cursor: pointer;
        transition: 0.3s;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #fff url('../../static/img/content/red-phone.png') no-repeat center;
            transform: translate(-40%, -50%);
            box-shadow: 0px 0px 6.58px 0.42px rgba(112, 112, 112, 0.4);
            transition: 0.3s
        }
        a{
            color: white;
            font-family: 'gothic';
            font-weight: 700;
            text-decoration: none;
            transition: 0.3s;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: 0.3s;
                transform: scaleX(0)
            }
            &:hover{
                &:before{
                    transform: scaleX(1);
                }
            }
            
        }
        &:hover{
            transform: scale(1.05);
            &:before{
                transform: translate(-60%, -50%);
            }

        }
    }
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 41, 66, 0.35);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: 0.3s;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    &.visible{
        visibility: visible;
        opacity: 1;
        transform: translateY(0)
    }
}

.popup{
    max-width: 730px;
    width: 100%;
    color: white;
    background-color: #000;
    left: 50%;
    transition: 0.3s;
    transform: translate(-50%, -60%);
    position: fixed;
    top: 50%;
    max-height: 95vh;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 102;
    &.visible{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.buy{
    margin-top: 25px;
    width: 100%;
    &__items{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__item{
        width: calc(33% - 50px);
        margin-right: 50px;
        margin-bottom: 40px;
        &:nth-child(3n+3){
            margin-right: 0;
        }
    }

    &__item-img{
        width: 100%;        
        margin-bottom: 40px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        &-cont{
            width: 100%;
            height: 243px;
            border-radius: 3px;
            position: relative;
            overflow: hidden;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(31, 41, 66, 0.70) url('../../static/img/content/lupa.png') no-repeat center center;
                transition: 0.3s;
                opacity: 0;
                background-position: center 80%;
            }
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 8px;
            left: 8px;
            z-index: -1;
            border-radius: 3px;
            transition: 0.3s;
            background: rgba(33, 74, 149, 0.4);
        }
        &:after{
            content: '';
            position: absolute;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            z-index: -2;
            left: 16px;
            transition: 0.3s;
            top: 16px;
            background: rgba(33, 74, 149, 0.4);
        }
        &:hover{
            transform: translate(-4px, -4px);
            &:before{
                top: 12px;
                left: 12px;
            }
            &:after{
                top: 24px;
                left: 24px;
            }
            .buy__item-img-cont{
                &:before{
                    opacity: 1;
                        background-position: center center;
                }
            }
        }
    }
    &-popup{
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        background: #fff;
        &__item{
            padding: 25px 40px;
        }
        &__table{
            width: 100%;
        }
        table{
            width: 100%;
            tr{
            }
            td{
                height: auto;
                p{
                    margin: 0;
                    margin-bottom: 15px;
                }
                b{
                    margin: 0;
                }
            }
        }
        &__title{
            background-color: $blue;
            font-size: 30px;
            font-family: "Raleway";
            font-weight: bold;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__slider{
            background-color: $light;
            &-container{
                display: flex;
                color: black;
            }
        }
    }
}
.buy-popup{
    &.visible{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.slider-top{
    max-width: 405px;
    width: 100%;
    overflow: hidden;
    height: 290px;
    margin-right: 30px;
}
.slider-prev{
    max-width: 215px;
    width: 100%;
    height: 100%;
    .swiper-slide{
        height: 87px;   
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0px 3px 6.4px 1px rgba(32, 75, 153, 0.27);
        }
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        &.swiper-slide-thumb-active{
            box-shadow: 0px 0px 9.4px 0.6px rgba(32, 75, 153, 0.67);
        }
    }
}

.buy-poppup__slider-container{
    position: relative;
}

#map {
    width: 100%;
    height: 435px;
    z-index: 1;
}

.map{
    margin-top: 30px;
    position: relative;
    .wrapper{
        position: absolute;
        top: 0;
        height: 0;
        left: 50%;
        transform: translate(-50%);
    }
    &__content{
        position: relative; 
        top: 50px;
        z-index: 10;
        max-width: 540px;
        padding: 70px 20px 75px 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 8.46px 0.54px rgba(158, 158, 159, 0.2);
        background-color: #fff;
    }
}   

.form__title{
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(31, 41, 66);
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    &-map{
        font-size: 36px;
        font-family: "Raleway";
        color: rgb(31, 41, 66);
        line-height: 1.2;
        font-weight: 500;    
        text-align: center;
        margin-bottom: 25px;
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;   
    position: relative; 
    
    .form__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(.5,-0.31,.45,.68);        
        &.invisible{
            transform: scale(0);
            
        }
    }
}

.thanx{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: scale(0);
    transition: 0.4s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(.65,.44,.38,1.2);
    
    &.visible{
        transform: scale(1);
    }
    .m-desc{
        text-align: center;
    }
}

.wow{
    visibility: hidden;
}
.footer{
    background-color: #1f2942;
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .time, .geo{
        &-text{
            color: white;
        }
    }
    &__top{
        padding: 40px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__bottom{
        background-color: #fff;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 14px;
        font-family: "Raleway";
        color: rgb(142, 142, 142);
        font-weight: 500;
        .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        a{
            color: #8e8e8e; 
            font-size: 14px;
            font-weight: 500;
            font-family: "Raleway";
            color: rgb(142, 142, 142);    
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.first{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100vh;
    
    &__container{
        height: 100%;
        display: flex;
        align-items: center;

        .wrapper{
            flex-direction: column;
            align-items: flex-start;
        }
        
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 880px;
    }
    &__title{
        font-size: 60px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        margin-bottom: 25px;
    }
    &__desc{
        color: white;
        font-size: 24px;
        font-weight: 500;
        display: inline;
        margin-bottom: 30px;
        b{
            display: inline;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .first-form{
        max-width: 620px;
        width: 100%;
    }
    .form__content{
        display: flex;
        flex-direction: row;
        width: 100%;
        input{
            margin-right: 20px;
        }
    }
    .thanx{
        background: transparent;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__desc{
            font-weight: 500;
        }
    }
    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        &-before{
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 32, 37, 0.65);            
        }
        
    }
    .geo-text{
        color: white;
    }
    .nice-select{
        background-color: transparent;
        color: white;
        .list{
            background-color:transparent;
            li{
                border-color: transparent;
                background-color:transparent;
                font-weight: 400;
                &:hover{
                    background: transparent;
                }
                &.selected{
                    background: transparent;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
        &:after{
            border-color: white;
        }
    }
}


.trust{
    padding-top: 75px;
    &__container{
        width: 100%;
    }
    &__items{
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        width: calc(50% - 15px);
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        &:nth-child(2n+2){  
            animation-delay: 0.3s;
        }
        &:hover{
            svg{
                transform: scale(1.1) rotate(25deg);
            }
        }
        &-img{
            margin-bottom: 15px;
            svg{
                transition: 0.3s;
                
            }
        }
        &-title{
            font-size: 24px;
            font-family: "Raleway";
            color: rgb(32, 75, 153);
            font-weight: bold;
            margin-bottom: 15px;              
        }
    }
    
}


.newauto{
    padding: 65px 0;
    &__container{
        width: 100%;
    }
    &__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__col{
        display: flex;
        flex-direction: column;
        width: 46%;
    }
    &__item{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__number{
        border-width: 3px;
        border-color: rgb(218, 235, 242);
        border-style: solid;
        border-radius: 50%;
        min-width: 55px;
        max-width: 55px;
        height: 55px;
        margin-right: 30px;    
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blue;
        font-family: "gothic";
        font-size: 24px;
        font-weight: 700;
    }
}

.step{
    background-color: $light;
    padding: 75px 0;
    b{
        font-size: 36px;
        margin: 0;
        display: inline;
        vertical-align: middle;
        line-height: auto;
        margin-right: 7px;  
    }
    .m-title-1-light{
        display: flex;
        align-items: center;
        vertical-align: middle;
    }
    &__container{
        width: 100%;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        padding: 25px 30px;
        width: calc(25% - 20px);
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 12.22px 0.78px rgba(119, 119, 119, 0.05);
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.6s;
        }
        &:nth-child(4) {
            animation-delay: 0.9s;
        }
    }
    &__img{
        margin-right: 30px;
    }
}

.programm{
    padding: 75px 0;
    &__container{
        width: 100%;
    }
    &__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: calc(25% - 20px);
        border-radius: 3px;
        padding: 35px;
        border: 2px solid #ecf0f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;   
        justify-content: space-between; 
        &:hover{
            border-color: $blue;
        }
    }
    &__button{
        width: 100%;
        margin-top: auto;
    }
    &__title{
        font-size: 30px;
        font-family: "Raleway";
        font-weight: bold;
        line-height: 0.733;
        margin-bottom: 20px;
        color: black;          
        text-align: center;
        &-red{
            color: #e31e25;
        }
    }
    .m-desc{
        margin-bottom: 15px;
        text-align: center;
    }
    &__perc{
        text-align: center; 
        color: $blue;
        font-family: 'gothic';
        font-size: 28px;
        font-weight: bold;
    }
    .m-button{
        color: $blue;
        background-color: transparent;
        border: 2px solid #daebf2;
        margin-top: 30px;
        box-shadow: none;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $blue;
            
        }
    }
}

.akt{
    background-color: $light;
    padding: 75px 0;
    &__content{
        margin-top: 30px;
        display: flex;
        width: 100%;
    }   
    ul{
        padding: 0;
        list-style: none;
        padding-left: 20px;
        margin: 0;
        li{
            margin: 0;
            font-size: 16px;
            font-family: "Raleway";
            color: rgb(76, 76, 76);
            font-weight: 500;
            margin-bottom: 20px;
            margin-top: 20px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 5px;
                left: -20px;
                width: 7px;
                height: 7px;
                background-color: $blue;
                border-radius: 50%;
            }
        }
        ul{
            li{
                &:before{
                    border-radius: 0px;
                }
            }
        }
    }
    &__color{
        display: flex;
        flex-direction: column;
        width:330px;
        align-items: flex-start;
        &-item{
            width: 160px;
            padding: 25px 7px;
            background-color: #fff;
            margin-bottom: 20px;
            .programm__title{
                margin-bottom: 10px;
                font-size: 24px;
            }
            .mb20{
                margin-bottom: 20px;
            }
        }
    }
    &__logo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 130px;
        &-text{
            align-self: flex-start;
            margin-top: auto;
            .akt-arrw{
                right: 50%;
                top: -50px;
                transform: translate(50%) rotate(-90deg);
            }
        }
    }
    &__logo{
    }
    &__auto{
        max-width: 100%;
    }

}

.akt-after{
    position: relative;
}

.akt-arrw{
    display: flex;
    width: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -90px;
    align-items: center;
    i{
        height: 22px;
        animation-duration: 2s;
        animation-name: scale;
        animation-iteration-count: infinite;
    }
    img{
        height: 30px;
    }
    span{
        margin-right: 3px;
        display: flex;
        width: 7px;
        height: 7px;
        background-color: $blue;
        border-radius: 50%;
        transition: 0.3s;
        animation-duration: 2s;
        animation-name: scale;
        animation-iteration-count: infinite;
        &:nth-child(1){
            animation-delay: 0s;
        }
        &:nth-child(2){
            animation-delay: 0.3s;
        }
        &:nth-child(3){
            animation-delay: 0.6s;
        }
        
    }
    i{
        animation-delay: 0.9s;
    }
    
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1);
    }
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: rgba(31, 41, 66, 0.65);
    color: white;
    text-align: center;
    padding: 60px 0;
    .thanx{
        background: transparent;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__desc{
            font-weight: 500;
        }
    }
    &__title{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &__desc{
        font-weight: 500;
        margin-bottom: 20px;
        &-2{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
    &__form{ 
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form{
        flex-direction: row;
        justify-content: center;
        max-width: 615px;
        width: 100%;
        &__content{
            max-width: 615px;
            width: 100%;
            flex-direction: row;
        }
        input{
            margin-right: 20px;
        }
    }
    &__bg{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
}

.garant{
    background-color: $light;
    padding: 75px 0;
    &__container{
        width: 100%;
    }
    &__items{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    &__item{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20px;
        width: calc(25% - 20px);
        margin-bottom: 25px;
        &:hover{
            .garant__number-invis{
                color: #cdd3df ;
            }
        }
    }
    &__number{
        color: $blue;
        font-size: 24px;
        font-weight: bold;
        font-family: "gothic";
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    &__desc{
        color: #4c4c4c;
        position: relative;
        z-index: 1;
    }
    &__number-invis{
        font-family: "gothic";
        color: #e4e8f1;
        font-size: 140px;
        font-weight: bold;
        position: absolute;
        top: 0;
        transition: 0.3s;
        left: 0;   
        line-height: 100px; 
        z-index: 0;
    }
}

.koop{
    padding: 75px 0;
    &__container{
        width: 100%;
    }
    &__items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        width: 47%;
        margin-bottom: 25px;
    }
    &__img{
        margin-right: 15px;
    }
}

.key{
    background-color: $light;
    padding: 75px 0;
    padding-bottom: 30px;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__left{
        width: 50%;
    }
    &__right{
        width: 50%;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

.programm-2{
    &__container{
        width: 100%;
        max-width: 100%;
    }
    &__tabs{
        width: 100%;
        display: flex;
        max-width: 100%;
    }
    small{
        font-size: 16px;
        font-weight: 500;
        color: #434343;
        margin-top: 15px;
        span{
            color: $blue;
        }
    }
    table{
        td{
        font-family: 'gothic';
            
        }
        small{ 
            color: #717171;
        }
    }
    &__tabs-content{
        max-width: 100%;
        width: 100%;
    }
    &__tabs-top{
        max-width: 310px;
        width: 100%;
    }
    &__tab{
        max-width: 100%;
        width: 100%;
    }
    &__tabs-top{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-right: 30px;
        a {
            display: flex;
            flex-direction: column;
            padding: 30px;
            border: 2px solid #ecf0f4;
            border-radius: 3px;
            text-decoration: none;
            transition: 0.3s;   
            &:hover{
                border-color: $blue;
            }
        }
        li{
        margin-bottom: 15px;
            &.ui-state-active{
                a{
                    background-color: $blue;
                    border-color: $blue;
                }
                .m-desc{
                    color: white;
                }
                .programm-2__tabs-title{
                    color: white;
                }
            }
        }
    }
    &__tabs-title{
        font-size: 30px;
        font-weight: bold;
        color: #000;
        &.red{
            color: $red;
        }
    }
}


.about{
    padding: 75px 0;
    &__container{
        display: flex;
    }
    &__right{
        min-width: 445px;
        max-width: 445px;
        margin-left: 30px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .trust{
        padding-bottom: 45px;
        background-color: $light;
        &__items{
        }
        &__item{
            padding: 30px;
            margin-bottom: 30px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0px 0px 12.22px 0.78px rgba(119, 119, 119, 0.05);
            transition: 0.3s;
            &:hover{
                transform: translateY(-7px);
                box-shadow: 0px 7px 15.22px 1px rgba(119, 119, 119, 0.2);
                
            }
        }
    }
}

.sign{
    .header__info{ 
            background-color: #fff;
    }
    .nice-select{
        background-color: #fff;
    }
    &__container{
        display: flex;
        justify-content: center;
    }
    &-form{
        margin: 50px 0;
        max-width: 600px;
        width: 100%;
        padding: 55px 150px;
        border-radius: 3px;
        background-color: $light;
        .form__content{
            width: 100%;
            a {
                font-size: 14px;
                color: $blue;
                font-weight: bold;
                margin-bottom: 15px;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}





