$blue: #204b99;
$button-bg-hover: #1b3e80;

$dark: #1f2942;
$text-color: #434343;
$text-gray-2: #555555;
$text-gray: #717171;

$red: #e31e25;

$light: #f4f7fa;
$shadow: 0 0 10px 1px rgba(201, 201, 201, 0.3);