
<div class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__top">
                <div class="logo">
                    <a href="index.html" class="logo">
                        <img src="%=static=%img/content/logo.png" alt="">
                        <div class="text">
                            <img src="%=static=%img/content/logo-text-white.png" alt="">
                        </div>
                    </a>
                </div>

                <div class="geo">
                    <img src="%=static=%img/content/geo.png" alt="">
                    <div class="geo-text">
                        Павлодар <br>
                        ул.Розы Люксембург 111, каб. 206
                    </div>
                </div>

                <div class="time">
                    <img src="%=static=%img/content/work.png" alt="">
                    <div class="time-text">
                            Режим работы: <br>
                            10:00 - 19:00
                    </div>
                </div>

                <div class="phone">
                    <div class="phone-button">
                        <a href="tel:87718500010" class="phone-link">8 771 850 00 10</a>
                        <a href="tel:87079161998" class="phone-link">8 707 916 19 98</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>  

    <div class="footer__bottom">
        <div class="wrapper">
            <div class="footer__prava">
                © Все права защищены, 2018
            </div>
            <div class="footer__politic">
                <a href="#" class="footer__politic-link">
                    Политика конфеденциальности
                </a>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>


<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<script src="%=static=%js/main%=hash=%%=min=%.js"></script>

