.news-item{
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 12.22px 0.78px rgba(119, 119, 119, 0.05);
}

.sidebar__item .m-title-2{
    font-size: 18px;
    margin-bottom: 7px;
}