<div class="buy-popup popup buy__popup">
    <div class="buy-popup__title buy-popup__item">
            Автомобиль: Toyota Camry 70
    </div>

    <div class="buy-popup__info-table buy-popup__item">
        <table>
            <tr>
                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>

                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>
                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>
            </tr>

            <tr>
                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>

                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>
                <td>
                    <b>Павлодар</b>
                    <p>Город: </p>
                </td>
            </tr>   
        </table>
    </div>
    <div class="buy-popup__slider buy-popup__item">
        <div class="buy-popup__slider-container buy-popup__item">
    
            <div class="swiper-container slider-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
            <div class="swiper-container slider-prev">
                <div class="swiper-wrapper">
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
    
                    <div class="swiper-slide m-img-cont">
                        <img src="%=static=%img/content/buy-1.jpg" alt="">
                    </div>
                </div>

                
            </div>
            
        </div>
    </div>
    
</div>

<div class="overlay"></div>