<div class="buy__item">
    <a href="#" class="buy__item-img">
        <div class="buy__item-img-cont m-img-cont">
            <img src="%=static=%img/content/buy-1.jpg" alt="">                
        </div>
    </a>
    <div class="buy__desc">
        <div class="buy__desc-item buy__desc-name">
            <b>Клиент:</b>
            <p>Текебаев Рустем Камитоллинович
                </p>
        </div>

        <div class="buy__desc-item buy__desc-auto">
            <b>Автомобиль: </b>
            <p>Toyota Camry 70</p>
        </div>
    </div>

    {{> car-popup/car-popup}}

</div>
